.column-layout {
    display: flex;
    flex-direction: column;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    background-color: hsla(var(--igc-gray-900));
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    overflow: hidden;
    position: relative;
    min-height: 56px;
}
.group_1 {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 56px;
    height: 56px;
    min-width: 50px;
    min-height: 50px;
}
.group_2 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: auto;
}
.group_3 {
    border-color: hsla(var(--igc-secondary-400));
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 16px;
    left: 0;
    position: relative;
    min-width: 50px;
    min-height: auto;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-height: 50px;
    flex-grow: 1;
}
.icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: hsla(var(--igc-surface-500));
}
.image {
    object-fit: cover;
    width: 405px;
    height: 9px;
    min-width: 0;
    flex-shrink: 0;
}
.icon_1 {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 0 0 24px;
}
.hyperlink {
    color: hsla(var(--igc-secondary-100));
    margin: 0 16px 0 0;
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.avatar {
    --background: none;
}
.navbar {
    background-color: hsla(var(--igc-primary-500));
    color: hsla(var(--igc-surface-500));
    height: max-content;
    min-width: min-content;
    flex-grow: 1;
    flex-shrink: 0;
}
.nav-drawer {
    min-width: min-content;
    min-height: 0;
    flex-shrink: 0;
}
.view-container {
    position: relative;
    flex-grow: 1;
}
.nav-drawer::part(main) {
    width: 200px;
}
.button::part(base) {
    color: hsla(var(--igc-surface-500));
}
.list {
    height: max-content;
}
