@page "/account-sample"

<div class="column-layout account-sample-container">
    <div class="column-layout group">
        <div class="row-layout account-header">
            <div class="row-layout page-title-1">
                <div class="row-layout group_1">
                    <img src="assets/Accounts Icon - Green.svg" class="image" />
                </div>
                <div class="column-layout group_2">
                    <h6 class="content">
                        Around the Horn
                    </h6>
                    <p class="typography__body-2 text">
                        Brewing Company
                    </p>
                </div>
            </div>
            <div class="row-layout group_3">
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Primary Contact
                    </p>
                    <p class="typography__caption text">
                        Thomas Hardy
                    </p>
                    <p class="typography__caption text">
                        Sales Representative
                    </p>
                </div>
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Phone
                    </p>
                    <p class="typography__caption text">
                        (123) 456-7890
                    </p>
                </div>
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Billing Address
                    </p>
                    <p class="typography__caption text">
                        120 Hanover Sq.
                    </p>
                    <div class="column-layout group_5">
                        <p class="typography__caption text">
                            London,  WA1 1DP
                        </p>
                        <p class="typography__caption text">
                            UK
                        </p>
                    </div>
                </div>
                <div class="column-layout group_4">
                    <p class="typography__subtitle-2 content">
                        Website
                    </p>
                    <p class="typography__caption text_1">
                        www.aroundthehorn.com
                    </p>
                </div>
                <div class="column-layout group_6">
                    <p class="typography__subtitle-2 content">
                        Account Owner
                    </p>
                    <p class="typography__caption text">
                        Sandy Anderson
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-layout group_7">
        <div class="column-layout group_8">
            <IgbTabs class="tabs" account-sample-scope>
                <IgbTab>Related</IgbTab>
                <IgbTab>Details</IgbTab>
                <IgbTab>News</IgbTab>
            </IgbTabs>
        </div>
        <div class="column-layout group_9">
            <IgbTabs class="tabs" account-sample-scope>
                <IgbTab>Activity</IgbTab>
                <IgbTab>Conversations</IgbTab>
            </IgbTabs>
        </div>
    </div>
</div>

@code {
}
