@page "/accounts"
@inject NavigationManager NavigationManager
@inject Northwind.NorthwindService northwindService

<div class="row-layout accounts-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <div class="column-layout group_2">
                <div class="row-layout header">
                    <div class="row-layout page-title">
                        <div class="row-layout group_3">
                            <img src="assets/Accounts Icon - Green.svg" class="image" />
                        </div>
                        <h6 class="h6">
                            Accounts
                        </h6>
                    </div>
                    <div class="row-layout buttons">
                        <IgbButton Variant="ButtonVariant.Flat" class="user-input user-input_3" accounts-scope>
                            <span class="material-icons">
                                business
                            </span>
                            <span>New Account</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" class="user-input user-input_4" accounts-scope>
                            <span class="material-icons">
                                search
                            </span>
                            <span>Discover companies</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" class="user-input user-input_5" accounts-scope>
                            <span class="material-icons">
                                import_export
                            </span>
                            <span>Import</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" class="user-input user-input_6" accounts-scope>
                            <span class="material-icons">
                                add
                            </span>
                            <span>Button</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
                <div class="row-layout filters-and-sorting">
                    <div class="row-layout group_4">
                        <span class="user-input">Select not yet available in Blazor</span>
                        <IgbInput Placeholder="Search accounts" Outlined="false" class="input" accounts-scope>
                            <span slot="prefix">
                                <span class="material-icons icon">
                                    search
                                </span>
                            </span>
                        </IgbInput>
                    </div>
                    <div class="row-layout group_5">
                        <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Dropdown?.Toggle(Button))" @ref="Button" class="user-input user-input_7" accounts-scope>
                            <span>Recently Updated</span>
                            <span class="material-icons">
                                keyboard_arrow_down
                            </span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbDropdown @ref="Dropdown" class="dropdown" accounts-scope>
                            <IgbDropdownItem>
                                Name
                            </IgbDropdownItem>
                            <IgbDropdownItem>
                                Recently Updated
                            </IgbDropdownItem>
                        </IgbDropdown>
                    </div>
                </div>
            </div>
            <IgbDataGrid DataSource="northwindCustomers" Density="ControlDisplayDensity.Cosy" AutoGenerateColumns="false" SelectionMode="GridSelectionMode.None" DefaultColumnMinWidth="136" @onclick="@(e => Navigate("account-sample"))" class="grid" accounts-scope>
                <IgbTextColumn Field="CustomerID" HeaderText="customerID" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="CompanyName" HeaderText="companyName" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="ContactName" HeaderText="contactName" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="ContactTitle" HeaderText="contactTitle" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="Address.Street" HeaderText="street" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="Address.City" HeaderText="city" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="Address.Region" HeaderText="region" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="Address.PostalCode" HeaderText="postalCode" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="Address.Country" HeaderText="country" IsFilteringEnabled="true"></IgbTextColumn>
                <IgbTextColumn Field="Address.Phone" HeaderText="phone" IsFilteringEnabled="true"></IgbTextColumn>
            </IgbDataGrid>
        </div>
    </div>
    <span class="new-account-dialog">Dialog not yet available in Blazor</span>
</div>

@code {
    private IgbButton? Button;
    private IgbDropdown? Dropdown;
    private Northwind.CustomersType[] northwindCustomers = Array.Empty<Northwind.CustomersType>();

    protected override async Task OnInitializedAsync()
    {
        northwindCustomers = await this.northwindService.GetCustomers() ?? northwindCustomers;
    }
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
