.column-layout {
    display: flex;
    flex-direction: column;
}
.account-sample-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.group {
    border-color: hsla(var(--igc-gray-200));
    border-width: 0px 0px 2px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
    position: relative;
    padding: 20px;
    min-width: 50px;
    min-height: 50px;
}
.row-layout {
    display: flex;
}
.account-header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
}
.page-title-1 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_1 {
    background-color: rgba(71, 124, 41, 0.2);
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 48px;
    height: 48px;
}
.group_2 {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_3 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 24px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_4 {
    border-color: hsla(var(--igc-gray-200));
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 0 24px 0 0;
    min-width: 50px;
    min-height: 50px;
    flex-shrink: 0;
}
.group_5 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
}
.group_6 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-shrink: 0;
}
.group_7 {
    background-color: hsla(var(--igc-gray-100));
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    gap: 12px;
    overflow: auto;
    position: relative;
    padding: 12px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_8 {
    background-color: hsla(var(--igc-surface-500));
    border-color: hsla(var(--igc-gray-200));
    border-width: 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 24px;
    position: relative;
    padding: 16px;
    flex-grow: 2;
}
.tabs {
    min-width: 0;
    min-height: 0;
    flex-shrink: 0;
}
.group_9 {
    background-color: hsla(var(--igc-surface-500));
    border-color: hsla(var(--igc-gray-200));
    border-width: 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 24px;
    position: relative;
    padding: 16px;
    min-width: 300px;
    flex-grow: 1;
}
.image {
    object-fit: cover;
    width: 20px;
    height: 20px;
    min-height: 0;
    flex-shrink: 0;
}
.content {
    height: max-content;
    min-width: min-content;
}
.text {
    color: hsla(var(--igc-gray-700));
    height: max-content;
    min-width: min-content;
}
.text_1 {
    color: hsla(var(--igc-primary-500));
    height: max-content;
    min-width: min-content;
}
