@page "/child-view"
@inject Northwind.NorthwindService northwindService

<div class="row-layout child-view-container">
    @foreach (var item in northwindEmployees)
    {
        <IgbCard Outlined="true" class="card" child-view-scope>
            <IgbCardMedia class="media-content" child-view-scope>
                <img src="@item.AvatarUrl" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Title goes here...
                </h3>
                <h5 slot="subtitle">
                    Subtitle goes here...
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" child-view-scope></IgbCardContent>
            <IgbCardActions class="actions-content" child-view-scope>
                <IgbButton Variant="ButtonVariant.Flat" class="button" child-view-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton Variant="ButtonVariant.Flat" class="icon-button">
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton Variant="ButtonVariant.Flat" class="icon-button">
                    <span class="material-icons">
                        bookmark
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton Variant="ButtonVariant.Flat" class="icon-button">
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
    }
</div>

@code {
    private Northwind.EmployeesType[] northwindEmployees = Array.Empty<Northwind.EmployeesType>();

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await this.northwindService.GetEmployees() ?? northwindEmployees;
    }
}
